.post {
  color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}
.header {
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.header button {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.action {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.07);
}
.comment {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.post-btn {
  color: #fff;
  border: 1px solid #000;
}
.post-btn:hover {
  color: #fff;
}
.d-bg {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: #fff;
}
.nd-bg {
  background-color: #0a66c2 !important;
}
textarea {
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 200px;
  outline: none;
}
textarea:focus {
  border: 1px solid #004182 !important;
}
.image {
  display: none;
}
.label-btn {
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 4px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.6);
}
.label-btn:hover {
  background-color: #0a66c2;
  color: #fff;
}
.uploaded-image {
  max-height: 400px;
  width: 100%;
  margin: 0 auto;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
}
.vid-inp {
  height: 100%;
}
